input {
    keyboard {
        xkb {
            layout "us"
        }
    }

    touchpad {
        tap
        natural-scroll
        accel-profile "flat"
    }

    mouse {
        accel-profile "flat"
    }

    warp-mouse-to-focus mode="center-xy"
    focus-follows-mouse max-scroll-amount="0%"

    mod-key "Super"
    mod-key-nested "Mod3"
}